{% extends 'student/base.html' %}
{% block title %}کتاب های امانت گرفته شده{% endblock %}

{% block main %}
    {#    خوش آمدید{{ user.get_full_name }}#}
    <div class="row">
        <div class="col-12">
            <div class="card">
                {#              <div class="card-header">#}
                {#                <h3 class="card-title">Responsive Hover Table</h3>#}
                {##}
                {#                <div class="card-tools">#}
                {#                  <div class="input-group input-group-sm" style="width: 150px;">#}
                {#                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">#}
                {##}
                {#                    <div class="input-group-append">#}
                {#                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>#}
                {#                    </div>#}
                {#                  </div>#}
                {#                </div>#}
                {#              </div>#}
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>کتاب</th>
                            <th>تاریخ دریافت</th>
                            <th>تاریخ تحویل</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stu in object_list %}
                            {% for book_rent in stu.rented_book.all %}
                            <tr>
                                <td>{{ book_rent.book.name }}</td>
                                <td>{{ book_rent.start_date }}</td>
                                <td>{{ book_rent.end_date }}</td>
{#                                <td>#}
{#                                    {% if  classLesson.cluss.status == 1 %}#}
{#                                        <span class="badge badge-success">باز است</span>#}
{#                                    {% else %}#}
{#                                        <span class="badge badge-danger">تعطیل است</span>#}
{#                                    {% endif %}#}
{#                                </td>#}
{#                                <td>#}
{#                                    <a target="_blank" class="badge badge-primary"#}
{#                                       href="{% url 'persons:STU_class_detail' classLesson.pk %}">#}
{#                                        اطلاعات بیشتر#}
{#                                    </a>#}
{#                                </td>#}
                            </tr>
                                {% endfor %}
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock %}