{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% block title %}پروفایل دانشجو{% endblock %}

{% block main %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">اطلاعات دانشجو</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
{#                        <label for="exampleInputEmail1">Email address</label>#}
{#                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">#}
                        {{ form.username|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{ form.first_name|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{ form.last_name|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{ form.phone_number|as_crispy_field}}
                    </div>
                    <div class="col-6">
                        {{ form.email|as_crispy_field}}
                    </div>

                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">ویرایش اطلاعات</button>
            </div>
        </form>
    </div>
{% endblock %}



