{% extends 'professer/base.html' %}
{% block title %}دروس ارايه شده{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>نام دانشجو</th>
                            <th>استاد درس</th>
                            <th>عنوان درس</th>
                            <th>کد درس</th>
                            <th>وضعیت</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for classLesson in have_lesson %}
                            <tr>
                                <td>{{ student.get_full_name }}</td>
                                <td>{{ classLesson.professor.get_full_name }}</td>
                                <td>{{ classLesson.lesson }}</td>
                                <td>{{ classLesson.code }}</td>
                                <td>
                                    <a target="_blank" class="badge badge-danger" name="{{ student.pk }}"
                                       id="{{ classLesson.pk }}" onclick="select(this.id,this.name)"
                                       style="cursor: pointer ">
                                        عدم اخذ درس
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for classLesson in have_not_lesson %}
                            <tr>
                                <td>{{ student.get_full_name }}</td>
                                <td>{{ classLesson.professor.get_full_name }}</td>
                                <td>{{ classLesson.lesson }}</td>
                                <td>{{ classLesson.code }}</td>
                                <td>
                                    <a target="_blank" class="badge badge-success" name="{{ student.pk }}"
                                       id="{{ classLesson.pk }}" onclick="select(this.id,this.name)"
                                       style="cursor: pointer ">
                                        اخذ درس
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <script>
        function select(student_id, classLesson_id) {
            $.ajax({
                url: '/persons/professor/select-class/' + classLesson_id + '/' + student_id,
                type: "GET",
                success: function (resp) {    //???????????????
                    if (resp['status'] == 2) {
                        $(`#${student_id}`).html("عدم اخذ درس");
                        $(`#${student_id}`).removeClass("badge-success").addClass("badge-danger");
                    } else {
                        $(`#${student_id}`).html("اخذ درس");
                        $(`#${student_id}`).removeClass("badge-danger").addClass("badge-success");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr)
                    $('#alert .modal-body').html('we have server error')
                    $('#alert').modal('show')
                }
            })
        }
    </script>
{% endblock %}
{#              <div class="card-header">#}
{#                <h3 class="card-title">Responsive Hover Table</h3>#}
{##}
{#                <div class="card-tools">#}
{#                  <div class="input-group input-group-sm" style="width: 150px;">#}
{#                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">#}
{##}
{#                    <div class="input-group-append">#}
{#                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
<!-- /.card-header -->